body {
    background-color: #191919;
    color: #fff;
    font-family: 'Microsoft YaHei', 微软雅黑;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: rgba(17,17,17,0.75);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.35);
}

.header__navwrap {
    display: inline-block;
    position: relative;
}

.header__navbar .header__navitem {
    font-size: 14px;
    margin: 0 15px !important;
    color: #fff;
}

.header__navitem:hover, .header__navitem--focus {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #69e0ff;
}

.header__navbar {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
    margin-left: 40px;
}

main {
    padding: 86px 20px 20px;
}

h3 {
    color: #fff;
}

.video {
    width: 100%;
    border-radius: 12px;
}

.ranked-map-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #69e0ff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

#ranked-map-name, #ranked-lp {
    margin: 10px 0;
}

.qr {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top {
    margin-bottom: 10px;
}

.footer__socialbar {
    display: flex;
    align-items: center;
}

.footer__socialitem {
    color: #69e0ff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}

.fab {
    font-size: inherit;
}
